﻿@{
    ViewData["Title"] = "Multimedia";
}

<!-- Put all of your HTML from here -->

<div class="gallery">

<h1 class="text-center"></h1>
  <h1 class="text-center">Multimedia</h1>
<hr />

<div class="video-responsive"></div>
  <iframe width="1139" height="475" src="https://www.youtube.com/embed/lqmv2mHNm3w" frameborder="0" allowfullscreen></iframe>
</div>


  <div class="thumbnail-1 wow fadeInLeft">
<img src="~/images/imageplace.jpg" alt="LOL THIS ISNT AN IMAGE"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>
    </div>  
  </div>
  <div class="large-1 wow bounceInLeft">
<img src="~/images/imageplace.jpg" alt="LOL THIS ISNT AN IMAGE"/>
    <span class="close">✕</span>
  </div>
  <div class="thumbnail-2 wow fadeInDown">
<img src="~/images/imageplace.jpg" alt="LOL THIS ISNT AN IMAGE"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-2 wow bounceInDown">
<img src="~/images/imageplace.jpg" alt="LOL THIS ISNT AN IMAGE"/>
    <span class="close">✕</span>
  </div>
  <div class="thumbnail-3 wow fadeInRight">
<img src="~/images/imageplace.jpg" alt="LOL THIS ISNT AN IMAGE"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-3 wow bounceInRight">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div>
  <div class="thumbnail-4 wow fadeInLeft">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-4 wow bounceInLeft">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div>  
  <div class="thumbnail-5 wow flipInX">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-5 wow bounceIn">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-6 wow fadeInRight">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-6 wow bounceInRight">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-7 wow fadeInLeft">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-7 wow bounceInLeft">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-8 wow fadeInUp">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-8 wow bounceInUp">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div> 
  <div class="thumbnail-9 wow fadeInRight">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <div class="caption">
      <h3 class="wow fadeInUp">LOL THIS ISNT AN IMAGE</h3>  
    </div> 
  </div>
  <div class="large-9 wow bounceInRight">
<img src="~/images/imageplace.jpg" alt="image4"/>
    <span class="close">✕</span>
  </div>   
</div>

</div>
</div>
</div>


